<br />
<div class="well well-sm col-md-8 col-md-offset-2">
	<%= render 'form', comment: @comment %>

	<center>
		<%= link_to 'Back to Comment', @comment %><br />
		<%= link_to 'Back to Parent', @comment.parent %>
	</center>
</div>