<p id="notice"><%= notice %></p>
<% @assignments.each do |assignment| %>
<%= link_to assignment.title, assignment_path(assignment.id) %> - 
<%= assignment.created_at %><br />
<% end %>

<br />
<%= link_to 'Back', subject_path %><br/>
