<br />
<div class="well well-sm col-md-6 col-md-offset-3">
	<h1>Courses</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<th>Name</th>
			<th max-width="100px"> </th>
			<% @courses.each do |course| %>
			  <tr>
					<td><%= link_to "#{course.name}", course %></td>
				  <td>
				  <% if can? :manage, course %>
							<%= link_to "Edit", edit_course_path(course), class:"btn btn-primary btn-xs "%>
							<%= link_to "Delete", course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
					<% end %>
					</td>	
			  </tr>
			<% end %>
			<tr>
				<td> </td>
				<td>
					<% if can? :manage, 'Course' %>
						<%= link_to 'Create', new_course_path, class: "btn btn-primary btn-xs" %><br />
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>

